/// <mls fileReference="_102041_/l2/collab-start-l7.less" enhancement="_blank"/>

collab-start-l7 {
    #iframe-container {
        opacity: 0;
        transition: opacity 300ms ease;
    }

    #iframe-container.show {
        opacity: 1;
    }
}

