/// <mls fileReference="_102041_/l2/collab-start-l7.less" enhancement="_102041_/l2/enhancementCollabStyle.ts"/>

collab-start-l7 {
    #iframe-container {
        opacity: 0;
        transition: opacity 300ms ease;
    }

    #iframe-container.show {
        opacity: 1;
    }

    .opt2 {
        display: flex;
        align-items: center;
        justify-content: center;

        .ticker-content {
            display: flex;
            flex-wrap: wrap;
            font-size: 5em;
            font-weight: bold;
        }
    }

}

