/// <mls fileReference="_102041_/l2/servicePublish.less" enhancement="_102041_/l2/enhancementCollabStyle.ts"/>

service-publish-102041 {
    display: block;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    color-scheme: light;
}


